/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f7f9fc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 1rem;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
}

h1 {
    font-size: 1.5rem;
    color: #4a90e2;
    margin-bottom: 20px;
}

.input-container {
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
    transition: border 0.3s;
}

input:focus {
    border-color: #4a90e2;
    outline: none;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    background-color: #4a90e2;
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 8px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #357ab7;
    transform: translateY(-2px);
}

button:active {
    transform: translateY(2px);
}

#resultado {
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    padding: 10px;
    border: 2px solid #4a90e2;
    border-radius: 8px;
    background-color: #f0f9ff;
}




